In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('glass_missing_values.csv')

In [3]:
data.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10    NaN  0.06  8.75  NaN  0.0     1
1  1.51761  13.89  3.60  1.36    NaN  0.48  7.83  NaN  0.0     1
2  1.51618  13.53  3.55  1.54  72.99   NaN  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08   NaN   NaN  0.0  0.0     1

In [4]:
data.shape

(214, 10)

In [5]:
data.isnull().sum()

RI      0
Na      1
Mg      1
Al      1
Si      4
K       2
Ca      2
Ba      2
Fe      6
Type    0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      213 non-null    float64
 2   Mg      213 non-null    float64
 3   Al      213 non-null    float64
 4   Si      210 non-null    float64
 5   K       212 non-null    float64
 6   Ca      212 non-null    float64
 7   Ba      212 non-null    float64
 8   Fe      208 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [7]:
data.columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [8]:
data['Si'].mean()

72.65000000000002

# Missing Value Imputation

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
imputer = SimpleImputer(strategy='mean')

In [11]:
imputed_values = imputer.fit_transform(data[['Si']])

In [21]:
pd.DataFrame(imputed_values, columns=['Si'])

        Si
0    72.65
1    72.65
2    72.99
3    72.61
4    73.08
..     ...
209  72.61
210  73.06
211  73.42
212  73.61
213  73.36

[214 rows x 1 columns]

In [ ]:
clean_data.isnull().sum()