In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('diamond.csv')

In [3]:
data.head()

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [4]:
data.columns

Index(['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry',
       'Report', 'Price'],
      dtype='object')

In [5]:
data_categorical = data[['Cut', 'Color', 'Clarity', 'Polish', 'Symmetry','Report']]

In [6]:
data_categorical.head()

     Cut Color Clarity Polish Symmetry Report
0  Ideal     H     SI1     VG       EX    GIA
1  Ideal     H     VS1     ID       ID   AGSL
2  Ideal     H     SI1     EX       EX    GIA
3  Ideal     E     SI1     VG       VG    GIA
4  Ideal     G     SI1     EX       EX    GIA

# One Hot Encoding

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
ohe = OneHotEncoder()

In [9]:
ohe

OneHotEncoder()

In [10]:
type(ohe)

sklearn.preprocessing._encoders.OneHotEncoder

In [11]:
ohe_results = ohe.fit_transform(data_categorical)

In [12]:
ohe_results

<6000x28 sparse matrix of type '<class 'numpy.float64'>'
	with 36000 stored elements in Compressed Sparse Row format>

In [13]:
# convert to array
ohe_array = ohe_results.toarray()

In [14]:
ohe_array

array([[0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.]])

In [15]:
# convert to dataframe
cols = [item for sublist in ohe.categories_ for item in sublist]
clean_data = pd.DataFrame(ohe_array, columns = cols) 
clean_data.head()

,Fair,Good,Ideal,Signature-Ideal,Very Good,D,E,F,G,H,...,EX,G,ID,VG,EX,G,ID,VG,AGSL,GIA
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [16]:
clean_data.iloc[4]

Fair               0.0
Good               0.0
Ideal              1.0
Signature-Ideal    0.0
Very Good          0.0
D                  0.0
E                  0.0
F                  0.0
G                  1.0
H                  0.0
I                  0.0
FL                 0.0
IF                 0.0
SI1                1.0
VS1                0.0
VS2                0.0
VVS1               0.0
VVS2               0.0
EX                 1.0
G                  0.0
ID                 0.0
VG                 0.0
EX                 1.0
G                  0.0
ID                 0.0
VG                 0.0
AGSL               0.0
GIA                1.0
Name: 4, dtype: float64