In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('diamond.csv')

In [3]:
data.head()

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [4]:
data.columns

Index(['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry',
       'Report', 'Price'],
      dtype='object')

In [5]:
data['Cut'].value_counts()

Cut
Ideal              2482
Very Good          2428
Good                708
Signature-Ideal     253
Fair                129
Name: count, dtype: int64

# Ordinal Encoding

In [6]:
def encode(x):
    encoder = {'Fair' : 1, 'Good' : 2, 'Very Good' : 3, 'Ideal' : 4, 'Signature-Ideal' : 5}
    return encoder[x]

In [7]:
data['Cut'] = data['Cut'].apply(lambda x: encode(x))

In [8]:
data.head()

   Carat Weight  Cut Color Clarity Polish Symmetry Report  Price
0          1.10    4     H     SI1     VG       EX    GIA   5169
1          0.83    4     H     VS1     ID       ID   AGSL   3470
2          0.85    4     H     SI1     EX       EX    GIA   3183
3          0.91    4     E     SI1     VG       VG    GIA   4370
4          0.83    4     G     SI1     EX       EX    GIA   3171

In [9]:
data['Cut'].value_counts()

Cut
4    2482
3    2428
2     708
5     253
1     129
Name: count, dtype: int64